.container-error{
    width: 500px;
    height: 100px;
    font-style: oblique;
    font-size: 20px;
    margin: auto;
    padding: 30px;
  
    align-content: center;
    background-color: aquamarine;
}